<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 lulu777
    <br>Design by
    <a href="http://weibo.com/u/5587600318?topnav=1&wvr=6&topsug=1&is_all=1" target=_new>xxjian666</a>
  </p>
</footer>
